.header-section {
  height: 64px;
  padding: 15px 0;
  padding-right:15px;
  box-sizing: border-box;
  position: static;
  display: flex;
  background-color: rgb(33, 33, 33);
  width: 100%;
}
.title-section {
  font-family: "Courier New", Courier, monospace;
  height:fit-content;
  padding-left: 15px;
  margin-top:auto;
  margin-bottom:auto;
}
.title-section p {
  margin: 0;
  margin-left:15px;
}
.title-section{
  display: flex;
}
.profile-section{
  margin-left:auto;
}
.profile-avatar{
  border-radius: 50%;
  height:100%;
}