.SideBar{
    background-color: rgb(18, 18, 18);
    width: 250px;
    transition-property: width;
    transition-duration: 500ms;
    overflow-x: hidden;
    box-shadow: 2px 2px rgba(36, 36, 36, 0.809);
}
.SideBar-Hidden{
    width:0;
}
.SideBar-Hidden * {
    /* display:none;s */
}
.SideBar .sidebar-contents{
    margin-left: 15px;
    margin-right: auto;
    width: 220px;
    /* max-width:100%; */
}