.main-body {
  display: flex;
  min-height: 0%;
  -webkit-box-flex: 1;
  flex-grow: 1;
}
.body-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.route-header-text {
  font-family: var(--main-font-family);
  font-size: 1.5rem;
  margin: 0;
  flex-grow: 1;
}
.body-content {
  min-width: 0px;
  overflow: auto;
  -webkit-box-flex: 1;
  flex-grow: 1;
  padding: 20px;
}

.route-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.12) !important;
  padding-bottom: 20px;
  width: 100%;
  display: flex;
}
